<h3>ProcessDefinition#show</h3>

<table class="table">
  <tr>
    <td>getId()</td>
    <td><%= @process_definition.getId() %></td>
  </tr>
  <tr>
    <td>getDeploymentId()</td>
    <td><%= @process_definition.getDeploymentId() %></td>
  </tr>
  <tr>
    <td>getCategory()</td>
    <td><%= @process_definition.getCategory() %></td>
  </tr>
  <tr>
    <td>getDescription()</td>
    <td><%= @process_definition.getDescription() %></td>
  </tr>
  <tr>
    <td>getDiagramResourceName()</td>
    <td><%= @process_definition.getDiagramResourceName() %></td>
  </tr>
  <tr>
    <td>getKey() unique name for all versions this process definitions</td>
    <td><%= @process_definition.getKey() %></td>
  </tr>
  <tr>
    <td>getResourceName()</td>
    <td><%= @process_definition.getResourceName() %></td>
  </tr>
  <tr>
    <td>getTenantId()</td>
    <td><%= @process_definition.getTenantId() %></td>
  </tr>
  <tr>
    <td>getVersion()</td>
    <td><%= @process_definition.getVersion() %></td>
  </tr>
  <tr>
    <td>hasGraphicalNotation()</td>
    <td><%= @process_definition.hasGraphicalNotation() %></td>
  </tr>
  <tr>
    <td>hasStartFormKey()</td>
    <td><%= @process_definition.hasStartFormKey() %></td>
  </tr>
  <tr>
    <td>isSuspended()</td>
    <td><%= @process_definition.isSuspended() %></td>
  </tr>      
</table>
